@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@inject NavigationManager NavigationManager
@using Esas
@namespace Bileşenler

@for (int i = 0; i < paylaşımlar().Length; i++)
{
    int döngü_turu = i;

    <div id="@(paylaşımlar()[i].KİMLİK_2)"
    class="kutu_098bdc p-kutu-bileşen" style="text-align: start; overflow: hidden;">
        <a style="display: block; text-align: start;"
        class="p-başlık-bileşen-mavi" href="/paylaşım/@(paylaşımlar()[i].KİMLİK_2)">@(paylaşımlar()[i].BAŞLIK)</a>
        <p style="white-space: pre-line; color: black;">@(paylaşımlar()[i].İÇERİK)</p>

        <p style="white-space: pre-line; color: gray; font-size: medium;"
        >@(paylaşımlar()[i].TARİH.ToString("dd.MM.yyyy HH.mm.ss"))</p>
        
        <div style="text-align: center; width: 100%;">
            <Değerlendir değerlendirilen="@(paylaşımlar()[i].KİMLİK_2)"
            değerlendiren="@bakan"/>
        </div>
    </div>
}

@code {
    [Parameter]
    public string paylaşan {get; set;}
    [Parameter]
    public string bakan {get; set;}
    [Parameter]
    public string oturum {get; set;}

    private paylaşım[] paylaşımlar()
    {
        return Esas.VeriTabanı.Paylaşım.KişininTümAçıkPaylaşımları(paylaşan);
    }
    private ÜyeBil paylaşanın_bilgileri;

    protected override void OnParametersSet()
    {
        paylaşanın_bilgileri = Esas.VeriTabanı.Üyelik.ÜyeBilgileri(paylaşan);
        bool bakan_kendisi = (paylaşan == bakan);
        if (!bakan_kendisi)
        {
            //paylaşımlar = Esas.VeriTabanı.Paylaşım.KişininTümAçıkPaylaşımları(paylaşan);
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        //paylaşımlar = Esas.VeriTabanı.Paylaşım.KişininTümAçıkPaylaşımları(paylaşan);
    }
}