@*
Copyright (C) 2022 Yusuf Kozan

---

Bu belge Yağ Kandili'nin bir parçasıdır.

Yağ Kandili bir özgür yazılımdır: GNU Affero Genel Kamu Lisansı'nın 3.
ya da (isteğinize göre) sonraki bir sürümünün Free Software Foundation
tarafından yayınlandığı durumunun koşulları altında Yağ Kandili'ni
dağıtabilir veya Yağ Kandili üzerinde değişiklik yapabilirsiniz.

Yağ Kandili kullanışlı olması umuduyla dağıtılmaktadır ancak HİÇBİR
GARANTİ VERMEMEKTEDİR, zımni PAZARLANABİLİRLİK veya BELİRLİ BİR
AMACA UYGUNLUK garantisi bile. Daha çok ayrıntı için GNU Affero
Genel Kamu Lisansı'na bakın.

Yağ Kandili'nin yanında GNU Affero Genel Kamu Lisansı'nın bir kopyasını
almış olmalısınız. Almadıysanız, <https://www.gnu.org/licenses/>
adresine bakın.

Yağ Kandili'nin lisansıyla ilgili daha çok bilgi için /Lisans
dizinine bakın.

---

This file is part of Yağ Kandili.

Yağ Kandili is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Yağ Kandili is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Yağ Kandili. If not, see <https://www.gnu.org/licenses/>.

For more information about the license of Yağ Kandili, see
/Lisans directory.
*@
@using Esas
@namespace Bileşenler

<div>
    <div class="değerlendirme_düğmesi" style="cursor:default;">O:@ortalama_değer T:@toplam_değer</div>
    <button class="değerlendirme_düğmesi" disabled="@disabled[0]" @onclick="() => Değerle(-2)">-2</button>
    <button class="değerlendirme_düğmesi" disabled="@disabled[1]" @onclick="() => Değerle(-1)">-1</button>
    <button class="değerlendirme_düğmesi" disabled="@disabled[2]" @onclick="() => Değerle(0)">0</button>
    <button class="değerlendirme_düğmesi" disabled="@disabled[3]" @onclick="() => Değerle(1)">+1</button>
    <button class="değerlendirme_düğmesi" disabled="@disabled[4]" @onclick="() => Değerle(2)">+2</button>
    <button class="değerlendirme_düğmesi" @onclick="Değersizleştir">Sil</button>
</div>

@code {
    [Parameter]
    public string değerlendirilen {get; set;}
    [Parameter]
    public string değerlendiren {get; set;}

    private double ortalama_değer, toplam_değer;
    
    private void Değerle(int değer)
    {
        Beğeni beğeni = new Beğeni(değerlendiren, değerlendirilen, değer, DateTime.Now);
        Esas.VeriTabanı.Beğeni.BeğeniyiSil(değerlendiren, değerlendirilen);
        Esas.VeriTabanı.Beğeni.Beğen(beğeni);
        OnParametersSet();
    }
    private void Değersizleştir()
    {
        Esas.VeriTabanı.Beğeni.BeğeniyiSil(değerlendiren, değerlendirilen);
        OnParametersSet();
    }

    private bool[] disabled = new bool[5];
    protected override void OnParametersSet()
    {
        int[] değerlendirme = Esas.VeriTabanı.Beğeni.BakanKişininBeğenisi(değerlendiren, değerlendirilen);
        for (int i = 0; i < 5; i++)
        {
            if (((değerlendirme[1] + 2) == i) && (değerlendirme[0] == 1))
            {
                disabled[i] = true;
            }
            else
            {
                disabled[i] = false;
            }
        }
        ortalama_değer = Esas.VeriTabanı.Beğeni.PaylaşımınBeğeniOrtalaması(değerlendirilen);
        toplam_değer = Esas.VeriTabanı.Beğeni.PaylaşımınToplamDeğeri(değerlendirilen);
    }
}