@namespace Bileşenler
@inject NavigationManager NavigationManager
@using Esas

@for (int i = 0; i < tüm_paylaşımlar.Length; i++)
{
    int döngü_turu = i;
    <div id="@(tüm_paylaşımlar[i].KİMLİK_2)"
    class="MetinKutusu1yk p-kutu-bileşen" style="text-align: justify; overflow: hidden;">
        <a style="display: block; text-align: start;"
        class="p-başlık-bileşen" href="/paylaşım/@(tüm_paylaşımlar[i].KİMLİK_2)">@(tüm_paylaşımlar[i].BAŞLIK)</a>
        <p style="white-space: pre-line; color: black;">@(tüm_paylaşımlar[i].İÇERİK)</p>

        <div style="text-align: left; width: 50%; float: left;">
            @(TabanlıVeri.Kilmikten_ÜyeBil(tüm_paylaşımlar[i].OTURUM).KULLANICI_ADI)
        </div>
        @if (!TabanlıVeri.BunuBeğenmiş(kim.KİMLİK, tüm_paylaşımlar[döngü_turu].KİMLİK_2))
        {
        <div style="text-align: right; width: 50%; float: left;">
            <button class="D1ykAK" style="font-size: medium;" @onclick="@(e => Beğen(@tüm_paylaşımlar[döngü_turu].KİMLİK_2, false))">Beğen</button>
            <button class="D1ykY" style="font-size: medium;">Yorumla</button>
        </div>
        }
        else
        {
        <div style="text-align: right; width: 50%; float: left;">
            <button class="D1ykAK2" style="font-size: medium;" @onclick="@(e => Beğen(@tüm_paylaşımlar[döngü_turu].KİMLİK_2, true))">Beğenme</button>
            <button class="D1ykY" style="font-size: medium;">Yorumla</button>
        </div>
        }
    </div>
    <KimliğeGit/>
}

@code {
    [Parameter]
    public string kip {get; set;} //hepsi, belirli açık, belirli gizli, belirli karışık
    /*  Başlangıçta iki ana kip olacak:
        tüm paylaşımlar ve belirli kişinin paylaşımları.
        
        Belirli kişinin paylaşımları üç farklı biçimde yer alacak:
        yalnız açık, yalnız gizli ve karışık.
    */
    [Parameter]
    public ÜyeBil kim {get; set;}
    [Parameter]
    public string oturum {get; set;}
    private Paylaşım[] tüm_paylaşımlar = TabanlıVeri.TümPaylaşımlar();

    private void Beğen(string kimlik2, bool beğenmiş)
    {
        if (!beğenmiş)
        {
            string beğeni_kimliği = Kilnevüg.TBY_Kimlikleri.Kimlik("Beğeni", kim.KİMLİK, kimlik2, DateTime.Now.ToString("yyyyMMddHHmmss"), "-", oturum);
            Beğeni beğeni = new Beğeni(kim.KİMLİK, kimlik2, DateTime.Now, oturum, beğeni_kimliği);
            TabanlıVeri.Beğen(beğeni);
        }
        else
        {
            TabanlıVeri.BeğeniyiGeriAl(kimlik2);
        }
    }
}